<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>	
				<li><a href="/">Jason Qiang Guo</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/Research">Research</a></li>
	        		<li><a href="/Teaching">Teaching</a></li>
				<li><a href="/中文">中文</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:qg251@nyu.edu">email</a></li>
	        		<li><a href="https://github.com/jasonqiangguo">github.com/jasonqiangguo</a></li>
				</ul>
			</footer>
		</body>
	</html>
